@font-face {
    font-family: "Monocraft";
    src: url("font/Monocraft.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}


body {
    background: url("gif/third.gif");
}

#title_icon {
    width: clamp(400px, 6vw, 600px);
    height: auto;
    display: block;
    margin: 0 auto;
    background-color: white;
    border-width: 10px;
    border-style: dashed;
    border-color: black;
}

header div nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

header div nav a {
    background-color: white;
    font-size: large;
    font-family: Monocraft, serif;
    padding: 5px;
}

#extra {
    color: white;
    background-color: black;
    padding: 20px;
    margin-bottom: 20px;
}

#extra .word {
    display: inline-block;
    margin: 1px;
    padding: 1px 3px;
    background-color: blueviolet;
    font-family: Monocraft, serif;
    font-size: large;
}

#extra a, #faq a {
    display: inline-block;
    margin: 1px;
    padding: 1px 3px;
    background-color: blueviolet;
    color: #00f7ff;
    cursor: pointer;
    font-family: Monocraft, serif;
    font-size: large;
}

#about {
    color: white;
    background-color: black;
    padding: 20px;
    margin-bottom: 20px;
}

#about .word, #faq dl dd .word {
    display: inline-block;
    margin: 1px;
    padding: 1px 3px;
    color: white;
    background-color: blueviolet;
    font-family: Monocraft, serif;
    font-size: large;
}


.answer_block {
    padding: 20px;
    display: inline-block;
    background-color: black;
    margin: 10px;
}

.upload-wrapper {
    display: inline-block;
}

.section_label {
    display: inline-block;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: blue;
    text-decoration: underline;
    background-color: white;
    font-size: 22px;
    font-family: Monocraft, serif;
    padding: 5px;
}

.label, dl dt {
    display: inline-block;
    margin: 10px;
    padding: 10px 10px;
    color: white;
    border-style: dashed;
    border-width: 7px;
    border-color: white;
    background-color: blueviolet;
    font-family: Monocraft, serif;
    font-size: large;
    width: auto;
}

/*#faq img {*/
/*    display: inline-block;*/
/*    width: 5%;*/
/*    margin-bottom: -30px;*/
/*    border-style: dashed;*/
/*    border-color: white;*/
/*    border-width: 7px;*/
/*}*/

.drag-drop {
    width: clamp(300px, 6vw, 300px);
    height: auto;
    display: inline-block;
    margin: 20px;
    background-color: white;
    border: 10px dashed black;
    text-align: center;
    line-height: 300px;
    font-family: Monocraft, serif;
    font-size: large;
    color: black;
    vertical-align: top;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

.drag-drop.dragover {
    background-color: #e0e0e0;
    border-color: blueviolet;
}

#upload {
    position: relative;
}

#upload_snippet {
}
#upload_source {
}

#search {
    position: relative;
}

.id_input {
    display: inline-block;
    width: clamp(300px, 6vw, 600px);
    color: white;
    border-style: solid;
    border-width: 7px;
    border-color: white;
    background-color: blueviolet;
    padding: 8px 12px;
    font-family: Monocraft, serif;
    font-size: large;
    margin-right: 10px;
    margin-bottom: 10px;
}

.player {
    width: 100%;
    max-width: 800px;
    margin-left: 0;
    box-sizing: border-box;
    overflow: hidden;
    text-align: left;
    background-color: blueviolet;
}

#video {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    border-width: 7px;
    border-color: white;
    border-style: dashed;
    display: inline-block;
    text-align: left;
    box-sizing: border-box;
}