@font-face {
  font-family: 'Monocraft';
  src: url('./fonts/Monocraft.ttc') format('truetype');
}
body {
  margin: 0;
  font-family: 'Monocraft', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Monocraft', monospace;
}
