name: Build & Deploy

permissions:
  contents: read
  packages: write

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        service:
          - nginx
          - eureka-server
          - upload-service
          - extraction-service
          - hashing-service
          - search-service
          - api-gateway
#          - client
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Java 21
        if: matrix.service != 'client' && matrix.service != 'nginx'
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Cache Gradle dependencies
        if: matrix.service != 'client' && matrix.service != 'nginx'
        uses: actions/cache@v4
        with:
          path: ~/.gradle/caches
          key: gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            gradle-

      - name: Cache Node modules
        if: matrix.service != 'client' && matrix.service != 'nginx'
        uses: actions/cache@v4
        with:
          path: client/node_modules
          key: node-${{ hashFiles('client/package-lock.json') }}
          restore-keys: |
            node-

      - name: Build service ${{ matrix.service }}
        run: |
          cd ${{ matrix.service }}
          if [ "${{ matrix.service }}" == "client" ]; then
            npm install
            npm run build
          else
            ./gradlew clean build
          fi

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build & Push Docker image (dev)
        if: github.event_name == 'pull_request'
        uses: ./.github/actions/docker-build-push
        with:
          service: ${{ matrix.service }}
          env: dev
          push: 'true'

      - name: Build & Push Docker image (prod)
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        uses: ./.github/actions/docker-build-push
        with:
          service: ${{ matrix.service }}
          env: prod
          push: 'true'